@{
    ViewBag.Title = "UserHome";
}
@model MinionChat.Client.Models.Users


<h1>@Html.DisplayTextFor(model => model.UserName)</h1>


<div class="row">
    <div class="col-md-4">
        <h3>Friends</h3>
        <table>
            <tr>
                @foreach (var item in Model.Friends)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item)
                    </td>
                </tr>
                }
                </tr>
            </table>
            <form action="/Minion/MessageFriend">
                </p><button type="submit">Message</button>@Html.TextBoxFor(m => m.Friend)</p>
            </form>
            <form action="/Minion/AddFriend">
                </p><button type="submit">Add</button>@Html.TextBoxFor(m => m.Friend)</p>
            </form>
            <form action="/Minion/DeleteFriend">
                </p><button type="submit">Delete</button>@Html.TextBoxFor(m => m.Friend)</p>
            </form>
        </div>
        <div class="col-md-4">
            <h3>Personal</h3>
            <p>
                This will be stuff you care about, Maybe?
            </p>
        </div>
        <div class="col-md-4">
            <h3>Groups</h3>
            <table>
                <tr>
                    @foreach (var item in Model.Groups)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item)
                        </td>
                    </tr>
                }
                    </tr>
                </table>
                <form action="/Minion/GotoGroup">
                    </p><button type="submit">Join</button>@Html.TextBoxFor(m => m.Group)</p>
                </form>
                <form action="/Minion/AddGroup">
                    </p><button type="submit">Add</button>@Html.TextBoxFor(m => m.Group)</p>
                </form>
                <form action="/Minion/DeleteGroup">
                    </p><button type="submit">Delete</button>@Html.TextBoxFor(m => m.Group)</p>
                </form>
            </div>
        </div>
